* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Titillium web", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}
/* ################################################### */
/* REUSABLE COMPONENTS */
/* ################################################### */
section {
  padding: 8rem 0;
}
h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
  color: #fff;
}
h2::after {
  content: "";
  display: block;
  height: 4px;
  background: #14a58c;
  width: 8.5rem;
  margin: auto;
  margin-top: 2rem;
}
#description {
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 1.5;
}
.box {
  padding: 1%;
}
.box p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}

/* ################################################### */
/* HEADER SECTION */
/* ################################################### */
header {
  background-color: #87509c;
  height: 80vh;
  position: relative;
}
.container {
  width: 75%;
  margin: 0 auto;
}
nav {
  padding-top: 3.5rem;
}
nav::after {
  content: "";
  clear: both;
  display: block;
}
.logo {
  float: left;
}
.main-nav {
  float: right;
}
.main-nav ul {
  list-style-type: none;
  padding-top: 0.8rem;
}
.main-nav ul li {
  float: left;
  margin-left: 1rem;
}
.main-nav ul li:last-child {
  margin-left: none;
}
.main-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
}
.active {
  background-color: #643a79;
  border-radius: 0.3rem;
}
.main-nav ul li a:hover {
  background-color: #643a79;
  border-radius: 0.3rem;
}
.main-content {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-content h1 {
  font-size: 4.2rem;
  color: #fff;
}
.main-content div {
  padding-top: 3rem;
}
.main-content a {
  text-decoration: none;
  color: #fff;
  background-color: #eb7d4b;
  font-size: 1.8rem;
  padding: 2rem 5rem;
  border-radius: 0.3rem;
  border-bottom: 0.3rem solid #c86a40;
}
/* ################################################### */
/* SERVICES SECTION */
/* ################################################### */
.services {
  background-color: #17c2a4;
  text-align: center;
  color: #fff;
}
.services .s-icon {
  margin: 5rem 0 3.5rem 0;
  height: 12.5rem;
}
.services h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
/* ################################################### */
/* SERVICES SECTION */
/* ################################################### */
.team-section {
  text-align: center;
  background-color: #e7f1f8;
}
.team-section h2 {
  color: #3c4761;
}
.team-section h2::after {
  background: #c8d9e5;
}
.team-section p {
  color: #535e75;
}
.team-section .img {
  height: 15rem;
  width: 15rem;
  background-color: #535e75;
  border-radius: 50%;
  margin: auto;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}
.team-section h3 {
  font-size: 2.4rem;
  color: #27283d;
}
.team-section .box h4 {
  font-size: 1.6rem;
  color: #30bae7;
  padding-top: 1rem;
}
.team-section .box p {
  font-size: 1.6rem;
  font-weight: 300;
}
.social-link ul {
  list-style-type: none;
  margin-top: 2.5rem;
}
.social-link ul li {
  display: inline-block;
}
.skill-section {
  text-align: center;
}
.skill-section h2,
.portfolio-section h2 {
  color: #3c4761;
}
.skill-section h2::after {
  background-color: #dfe8ed;
}
.skill-section .description,
.portfolio-section .description {
  color: #8a91a0;
}
svg.radial-progress circle {
  stroke-width: 5;
}
svg.radial-progress text {
  fill: #70788b;
  font: 5rem;
}
svg.web-design circle {
  stroke: #30bae7;
}
svg.html-css circle {
  stroke: #d74680;
}
svg.graphic-design circle {
  stroke: #15c7a8;
}
svg.ui-ux circle {
  stroke: #eb7d4b;
}
.portfolio-section {
  background-color: #ffdd99;
  text-align: center;
}
.portfolio-section h2::after {
  background-color: #e5c37f;
}
/* ################################################### */
/* SERVICES SECTION */
/* ################################################### */
.filter {
  margin: 3rem 0;
}
.filter button {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: #ebc985;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #3c4761;
  margin: 0 0.5rem;
  transition: 0.5s;
}
.filter button:hover {
  cursor: pointer;
  box-shadow: inset 0 0.3rem 0.5rem #3c4761;
}
.portfolio-image {
  width: 100%;
  height: 30rem;
}
.portfolio-section .col:nth-child(3) {
  margin-left: 0;
}
.portfolio-section h4 {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  color: #393939;
  font-weight: 400;
  text-transform: uppercase;
}
.portfolio-section .mixitup-control-active {
  background-color: #fff;
  outline: none;
}
a.btn-load-more {
  text-decoration: none;
  color: #fff;
  background-color: #17c2a4;
  font-size: 1.8rem;
  padding: 2rem 5rem;
  border-radius: 0.3rem;
  border-bottom: 3px solid #14a58c;
}
.extra {
  margin-top: 8rem;
}
/* ################################################### */
/* SERVICES SECTION */
/* ################################################### */
.testimonial {
  background-color: #d74680;
  color: #fff;
}
.testimonial h2,
.testimonial #description {
  text-align: center;
}
.testimonial h2::after {
  background-color: #b73c6d;
}
.testimonial .holo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  float: left;
  background-color: #787878;
}
.testimonial .person-details {
  width: 35rem;
  padding-left: 5rem;
  float: left;
}
.testimonial .person-details p {
  font-style: italic;
}
.testimonial h4 {
  margin-top: 2rem;
  font-size: 2.4rem;
  margin-top: 1.5rem;
}
.testimonial span {
  color: #ffdd99;
  font-size: 1.8rem;
}
.testimonial .box {
  margin-top: 7rem;
}
.testimonial .col:nth-child(3) {
  margin-left: 0;
}
/* ################################################### */
/* CONTACT SECTION */
/* ################################################### */
.contact-section {
  background-color: #3c5499;
  color: #fff;
  text-align: center;
}
.contact-section h2::after {
  background-color: #273a71;
}
.contact-section form {
  width: 80%;
  margin-left: 10%;
  margin-top: 8rem;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
  width: 100%;
  background-color: #273a71;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.8rem;
}
.contact-section input[type="text"],
.contact-section input[type="email"] {
  height: 5.5rem;
}
.contact-section textarea {
  height: 20rem;
}
.contact-section input::placeholder,
.contact-section textarea::placeholder {
  color: #fff;
  font-size: 1.8rem;
}
.contact-section input[type="button"] {
  text-decoration: none;
  color: #fff;
  background-color: #30bae7;
  font-size: 1.8rem;
  padding: 2rem 5rem;
  border: 0;
  border-radius: 0.3rem;
  border-bottom: 3px solid #299ec5;
  margin-top: 6rem;
}
.contact-section input[type="button"]:hover {
  cursor: pointer;
}
/* ################################################### */
/* FOOTER SECTION */
/* ################################################### */
footer {
  background-color: #344b8e;
  text-align: center;
  padding: 4.5rem 0;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
}
footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0 2.5rem;
}
footer li a {
  text-decoration: none;
  font-size: 2.4rem;
  color: #299ec5;
}
footer li a:hover {
  color: #fff;
  transition: 0.5s;
}
